@model Empleado

<h1>Detalles del empleado</h1>

<label>Id Empleado</label><br />
<input type="text" name="idempleado" value="@Model.IdEmpleado"/><br />
<label>Apellido</label><br />
<input type="text" name="idempleado" value="@Model.Apellido"/><br />
<label>Oficio</label><br />
<input type="text" name="idempleado" value="@Model.Oficio"/><br />
<label>Salario</label><br />
<input type="text" name="idempleado" value="@Model.Salario" /><br />
<label>Id Departamento</label><br />
<input type="text" name="idempleado" value="@Model.IdDepartamento" /><br />
<a asp-controller="Empleados" asp-action="Index" class="btn btn-link">Back Home</a>